<h3>Business Dashboard</h3>

<h3>Scheduled Hangouts at your establishment</h3>
<p>Most recent ones coming up with details of how big the party is</p>

<h3>People Voting on your establishment right now!</h3>
<p>Offer them to sweeten the deal to come in right now</p>
<p>Have a way to chat with them in real time. Add them into the discussion. Twitter-like engagement.</p>

<h3>People thinking of hanging out on this day and don't know where</h3>

<h3>People that voted on you but didn't decide on you</h3>
<p>Send these guys an email that if they pick you next time, they get 10% off etc.</p>

<h3>Deal Creation Manager</h3>
<p>Area to generate and keep track of your discounts or buy 1 get 1 for parties.</p>