<h2> Create Event </h2> 
    <table>
      <tr>
        <td><b>Event Title:</b></td>
        <td><input type="string" name="event" placeholder="Event Name" required></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="textarea" name="description" placeholder="Description" required></td>
      </tr>
    </table>
        <br>
    <br>
    <div><h3>Friends Invited</h3></div> 
 
    <div id="main">
        <input type="button" id="btAdd" value="Add Friend" class="bt" />
        <input type="button" id="btRemove" value="Remove Friend" class="bt" />
        <input type="button" id="btRemoveAll" value="Remove All Friends" class="bt" /><br />
    </div>

    <br>
    <br>

    <h3>What do you want to vote on?</h3>
    <select>
        <option value="location">Location</option>
        <option value="time">Time of Day</option>
        <option value="option">Day</option>
        <option value="all">All of them!</option>
    </select>
    
    <br>
    <br>
    <div><h3>Hangout 1</h3></div>
    <table>
      <tr>
        <td>Date:</td>
        <td><input type="date" name="date1" placeholder="Date" required></td>
      </tr>
      <tr>
        <td>Time:</td>
        <td><input type="time" name="time1" required></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><input type="string" name="locationname1" placeholder="Enter Location Name" required></td>
      </tr>   
      <tr>
        <td></td>
        <td><div id="locationField">
        <input id="autocomplete" name="place1" placeholder="Enter your address"
                 onFocus="geolocate()" type="text" required></input>
        </div></td>
      </tr>
    </table>
    
    <br>
    <div><h3>Hangout 2</h3></div>
    <table>
      <tr>
        <td>Date:</td>
        <td><input type="date" name="date2" placeholder="Date" required></td>
      </tr>
      <tr>
        <td>Time:</td>
        <td><input type="time" name="time2" required></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><input type="string" name="locationname2" placeholder="Enter Location Name" required></td>
      </tr>   
      <tr>
        <td></td>
        <td><div id="locationField">
        <input id="autocomplete" name="place2" placeholder="Enter your address"
                 onFocus="geolocate()" type="text" required></input>
        </div></td>
      </tr> 
    </table>

    <br>
    <div><h3>Hangout 3</h3></div>
    <table>
      <tr>
        <td>Date:</td>
        <td><input type="date" name="date3" placeholder="Date" required></td>
      </tr>
      <tr>
        <td>Time:</td>
        <td><input type="time" name="time3" required></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><input type="string" name="locationname3" placeholder="Enter Location Name" required></td>
      </tr>   
      <tr>
        <td></td>
        <td><div id="locationField">
        <input id="autocomplete" name="place3" placeholder="Enter your address"
                 onFocus="geolocate()" type="text" required></input>
        </div></td>
      </tr> 
    </table>
    
    <br>
    <br>
    <input type="submit">
</form>
</body>