<div ng-controller="ShowAllCtrl">
	<h3>Quit haggling over when to hangout, just get to it already! VOTEVITE!</h3>
	<p>Vote where to hangout with your friends! Simple as that. Stop figuring out where to go and just freaking get there already</p>
	<br>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/vu4dsCtsocE" frameborder="0" allowfullscreen></iframe>
	<br>
		<h3>Show Hangouts</h3>
		<div ng-init="getAllHangouts()"></div>

		<h3>Hangouts Made!</h3>

		<h3>Events Being Created</h3>

</div>