<h3>Update in Real-Time. List Hangouts of entire site</h3>

<h3>Show Conferences</h3>
<p>Joann'a Birthday Bash</p>
<p>Phil's Wedding</p>
<p>Mom's Birthday</p>
<p>Jim's Graduation</p>


<h3>Quit haggling over when to hangout, just get to it already! VOTEVITE!</h3>
<p>Vote where to hangout with your friends! Simple as that. Stop figuring out where to go and just freaking get there already</p>
<h3>Video Commercial:</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vu4dsCtsocE" frameborder="0" allowfullscreen></iframe>
