<div ng-controller="ShowAllCtrl">
<h3>Quit haggling over when to hangout, just get to it already! VOTEVITE!</h3>
<p>Vote where to hangout with your friends! Simple as that. Stop figuring out where to go and just freaking get there already</p>

<div ng-init="getHangoutsMade()">
<h3>200,000 Hangouts Successfully Made:</h3>
<table>
	<tr>
		<td>Event</td>
		<td>Picture</td>
	</tr>
	<tr ng-repeat="made in mades">
		<td>{{made.eventName}}</td>
		<td><img src="/img/group2.jpg" height="100" width="100"></td>
	</tr>
	</table>
</div>

<div ng-init="getHangoutsInProgress()">
<h3>200,000 Hangouts inViteVote:</h3>
<table>
	<tr>
		<td>Event</td>
		<td>Picture</td>
	</tr>
	<tr ng-repeat="vote in votes">
		<td>{{vote.eventName}}</td>
		<td><img src="/img/groupW.jpg" height="100" width="100"></td>
	</table>
</div>

</div>
<!--
<h3>Quit haggling over when to hangout, just get to it already! VOTEVITE!</h3>
<p>Vote where to hangout with your friends! Simple as that. Stop figuring out where to go and just freaking get there already</p>
<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/vu4dsCtsocE" frameborder="0" allowfullscreen></iframe>
<br>
	<h3>Show Hangouts</h3>

	<div ng-init="getAllHangouts()"></div>


	<h3>Hangouts Made!</h3>

	<h3>Events Being Created</h3>
	-->