<div ng-controller="RegLogsCtrl">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">

        <ul class="text-center list-inline intro-social-buttons">
              <li id="signInLink">
                  <a class="btn btn-default btn-lg" ng-click="signIn()">SignIn with Google+</a>
              </li>
        </ul>

        <p class="text-center text-muted">
            <small>Or</small>
          </p>

        <div class="signup-or-separator">
            <!-- <h6 class="text">or</h6> -->
            <hr>
        </div>

        <form method="post" ng-submit="login()" name="loginForm">
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
            <!-- <span class="ion-at form-control-feedback"></span> -->
          </div>

          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <!-- <span class="ion-key form-control-feedback"></span> -->
          </div>

          <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>

          <br/>

          <p class="text-center">
            <a href="#/forgotPassword">Forgot your password?</a>
          </p>
        </form>

<!--         <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button> -->
        
      </div>
    </div>
  </div>
</div>
<!--     <div>
            <ul class="list-inline intro-social-buttons">
                <li id="signInLink" ng-hide="getSignedInState()" on-click="return false">
                    <a class="btn btn-default btn-lg" ng-click="signIn()">Google+ SignIn</a>
                </li>
            </ul>
    </div> -->