<div ng-controller="MyDashboardCtrl">
<h4>My Dashboard</h4>

<h3>Events Invited</h3>
<div ng-init="invited()">
<table>
<tr ng-repeat="invitedHangout in invitedHangouts">
	<td>{{invitedHangout.eventName}}</td>
	<td><a href="#/vote/{{invitedHangout.webSafeKey}}">Vote</a></td>
	<td><button>2</button></td>
</tr>
</table>
</div>

<h3>Events Voted On, but still waiting for deadline/people to Vote</h3>
<div ng-init="votedWaiting()">
<table>
<tr ng-repeat="hangout in hangouts">
	<td>{{hangout.eventName}}</td>
	<td>{{hangout.friendList}}</td>
	<td><a href="#/results/{{hangout.webSafeKey}}">Details</a></td>
	<td><button>2</button></td>
</tr>
</table>
</div>

<h3>Events where everyone has Voted/scheduled</h3>
<div ng-init="done()">
<table>
<tr ng-repeat="doneHangout in doneHangouts">
	<td>{{doneHangout.eventName}}</td>
	<td><a href="#/results/{{doneHangout.webSafeKey}}">Details</a></td>
	<td><button>2</button></td>
</tr>
</table>
</div>

<!--
<h3>Misc. Info.</h3>
<h3>Events Created</h3>
<h3>Old Events</h3>
</div>
-->