<div ng-controller="RegLogsCtrl">
<div class="container" ng-show="!getSignedInState()">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <ul class="text-center list-inline intro-social-buttons">
            <li id="signInLink" ng-hide="getSignedInState()" on-click="return false">
                <a class="btn btn-default btn-lg" ng-click="signIn()">Sign Up with Google+</a>
            </li>
        </ul>

          <p class="text-center text-muted">
            <small>Or:</small>
          </p>

          <div class="signup-or-separator">
            <hr>
          </div>


        <form name="registrationForm">
            <table>
              <tr>
                <td>
                <input type="text" ng-model="regLogInfo.firstName" placeholder="First Name" required autofocus>
                <!-- <span class="ion-at form-control-feedback"></span> -->
                </td>
              </tr>
              <tr>
                <td>
                <input type="text" ng-model="regLogInfo.lastName" placeholder="Last Name" required autofocus>
                <!-- <span class="ion-at form-control-feedback"></span> -->
                </td>
              </tr> 
              <tr> 
                <!--Throw and NG-Show here if there is an email duplicate-->
                <!--That or some bootstrap protocol-->
                <td>    
                <input type="text" ng-model="regLogInfo.email" placeholder="Email" required autofocus>
                <!-- <span class="ion-at form-control-feedback"></span> -->
                </td>
              </tr>
              <tr>
                <td>
                <input type="password" ng-model="regLogInfo.password" placeholder="Password" required>
                <!-- <span class="ion-key form-control-feedback"></span> -->
                </td>
              </tr>
              <tr>
                <td>
                <input type="password" name="password" ng-model="regLogInfo.confirmPassword" placeholder="Confirm Password" required>
                <!-- <span class="ion-key form-control-feedback"></span> -->
                </td>
              </tr>
              <tr>
                <td>
                <button ng-click="emailRegistration(registrationForm)" ng-disabled="registrationForm.$invalid">Log in</button>
                </td>
              </tr>   
          </table>
        </form>

<!--         <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button> -->

      </div>
    </div>
  </div>
</div>

</div>
<!--     <div>
            <ul class="list-inline intro-social-buttons">
                <li id="signInLink" ng-hide="getSignedInState()" on-click="return false">
                    <a class="btn btn-default btn-lg" ng-click="signIn()">Google+ SignIn</a>
                </li>
            </ul>
    </div> -->


<!--Use this format to bring back the css displays -->
<!--
<div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="confirmPassword" placeholder="Confirm Password" required>-->
            <!-- <span class="ion-key form-control-feedback"></span> -->
          <!--</div>-->
<!--Use this format to bring back the css displays -->
