<div class="container" ng-show="!getSignedInState()">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Registration</h2>

        <h3>Sign-up with:</h3>

        <ul class="list-inline intro-social-buttons">
            <li id="signInLink" ng-hide="getSignedInState()" on-click="return false">
                <a class="btn btn-default btn-lg" ng-click="signIn()">Google+ SignIn</a>
            </li>
        </ul>

          <div class="signup-or-separator">
            <h3>Or Register Via Email Below</h3>
            <!-- <h6 class="text">or</h6> -->
            <hr>
          </div>


        <form method="post" ng-submit="login()" name="loginForm">

            <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="First Name" required autofocus>
            <!-- <span class="ion-at form-control-feedback"></span> -->
          </div>

            <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Last Name" required autofocus>
            <!-- <span class="ion-at form-control-feedback"></span> -->
          </div>

          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
            <!-- <span class="ion-at form-control-feedback"></span> -->
          </div>

          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <!-- <span class="ion-key form-control-feedback"></span> -->
          </div>

          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Confirm Password" required>
            <!-- <span class="ion-key form-control-feedback"></span> -->
          </div>

          <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>

          <br/>


        </form>

<!--         <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button> -->

      </div>
    </div>
  </div>
</div>
<!--     <div>
            <ul class="list-inline intro-social-buttons">
                <li id="signInLink" ng-hide="getSignedInState()" on-click="return false">
                    <a class="btn btn-default btn-lg" ng-click="signIn()">Google+ SignIn</a>
                </li>
            </ul>
    </div> -->

