<!--
<div ng-init="getSearchList()"></div>
  <ul>
    <li ng-repeat="todo in todos">
      <p>{{todo}}<button ng-click="john(todo)">Delete</button></p>
    </li>
  </ul>

<input ng-model="query">
<div ng-show="query">
<ul>
  <li ng-repeat="profile in profiles | filter: query">
    <h3>{{profile.displayName}}<button ng-click="addTodo(profile)">Add</button></h3>
    <h3>{{profile.mainEmail}}</h3>
  </li>
</ul>
<button ng-click="addTodo(query)">Button</button>
</div>

<button ng-click="button()">Button</button>-->
<!--
<div ng-init="isRegistered()"></div>

<button ng-click="myAuthentication()"></button>

<p ng-show="myAuthentication()">asdfasdf</p>
-->
<!--
<p ng-init="lop()">asdfasdf</p>

<div ng-show="fix"><p>LOLOLOLO</p></div>
-->

<!--<div ng-init="test.qty()"> </div>-->
<!--<input ng-blur="testy()" placeholder="Testy">-->

<button ng-click="test()">Test Google+</button>

<!-- This is if I try to implement it in angular though I don't think angular can grab images yet.
<form enctype="multipart/form-data">
	<p>Upload File:</p> <input type="file" ng-model="fileUpload.picture"><br> 
	<button ng-click="pictures()">submit</button> 
</form>
-->
<!-- This is the form which would let the app grab the data via webapp2-->
<form action="/main" method="GET" enctype="multipart/form-data">
	<p>Upload File:</p> <input type="file" name="file"><br> 
	<input type="submit" name="submit" value="Submit"> 
</form>

<button ng-click="votedWaiting()">Testing Dashboard Waiting</button>

