<!--
<div ng-init="getSearchList()"></div>
  <ul>
    <li ng-repeat="todo in todos">
      <p>{{todo}}<button ng-click="john(todo)">Delete</button></p>
    </li>
  </ul>

<input ng-model="query">
<div ng-show="query">
<ul>
  <li ng-repeat="profile in profiles | filter: query">
    <h3>{{profile.displayName}}<button ng-click="addTodo(profile)">Add</button></h3>
    <h3>{{profile.mainEmail}}</h3>
  </li>
</ul>
<button ng-click="addTodo(query)">Button</button>
</div>

<button ng-click="button()">Button</button>-->
<!--
<div ng-init="isRegistered()"></div>

<button ng-click="myAuthentication()"></button>

<p ng-show="myAuthentication()">asdfasdf</p>
-->
<!--
<p ng-init="lop()">asdfasdf</p>

<div ng-show="fix"><p>LOLOLOLO</p></div>
-->

<div ng-controller="TestCtrl" >
<!--<div ng-init="test.qty()"> </div>-->
<input ng-blur="testy()" placeholder="Testy">
</div>