<h3>This is the Vote Page</h3>


<!--Use ngShow and the javascript functions within a div to display
the appropriate voting information -->
<div>Can you make the event?</div>
<select name="priority1">
		<option>Yes</option>
		<option>No</option>
		<option>Maybe</option>
	</select>

<div>You prefer one over the other??</div>
<select name="priority1">
		<option>Yes</option>
		<option>No</option>
	</select>

<div>Ok, so what are your preferences? First being the most preferred!</div>
<label>Vote1
<select name="priority1">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
</label>

<br>

<label>Vote2
<select name="priority2">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	</label>

<br>


	<label>Vote3
<select name="priority3">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	</label>