<div ng-controller="VoteCtrl">
<h3>This is the Vote Page</h3>

<form name="voteForm">
<!--Use ngShow and the javascript functions within a div to display
the appropriate voting information 
<div>Can you make the event?</div>
<select name="priority1">
		<option>Yes</option>
		<option>No</option>
		<option>Maybe</option>
	</select>

<div>You prefer one over the other??</div>
<select name="priority1">
		<option>Yes</option>
		<option>No</option>
	</select>
	-->

<div>Ok, so what are your preferences? First being the most preferred!</div>
<label>Vote1
<select ng-model="votes.option1">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
</label>

<br>

<label>Vote2
<select ng-model="votes.option2">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	</label>

<br>


	<label>Vote3
<select ng-model="votes.option3">
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	</label>

	<button ng-click="vote(voteForm)"></button>
</form>
</div>