<html>
<head>
  <title>CmonLetsHang</title>
  <!--
  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->


  <!--JQUERY
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  BootStrap's Javascript
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
</head>

  <body>
    <div class="container">
      <div class="page-header">
          <ul class="nav nav-pills pull-right">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </ul>

        <h1>
          <a href="/">Cmon</a>
          <small>LetsHang</small>
        </h1>

      </div>

      {% block content %}
      {% endblock %}

    </div>
  </body>
</html>